<div ui-content-for="title">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <form role="form" ng-submit='save()' name="orderForm">

            <fieldset disabled class="section-break">
                <legend>Order resume</legend>
                Go to review or modify your cart <a href="#/cart">Cart <i class="fa fa-shopping-cart"></i></a>
                <div class="form-group">
                    <label for="disabledQty" class="control-label">Total Items</label>
                    <div class="">
                        <input type="text" id="disabledQty" class="form-control" placeholder="{{sizeCart}}" ng-model="orderQty" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="disabledVAT" class="control-label">Total VAT (<i class="fa fa-eur"></i>)</label>
                    <div class="">
                        <input type="text" id="disabledVAT" class="form-control" placeholder="{{totalCart * VAT}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="disabledPrice" class="control-label">Total Price (<i class="fa fa-eur"></i>)</label>
                    <div class="">
                        <input type="text" id="disabledPrice" class="form-control" placeholder="{{totalCart + (totalCart * VAT) }}"  ng-model="orderPrice" />
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Customer Information</legend>
                <div class="form-group">
                    <label>First Name</label>
                    <span style="color:red" ng-show="orderForm.firstName.$dirty && orderForm.firstName.$invalid">
                        <span ng-show="orderForm.firstName.$error.required"> is required.</span>
                    </span>
                    <input type="text" required
                           class="form-control"
                           placeholder=""
                           ng-model="firstName" name="firstName">
                   
                    <label>Last Name</label>
                     <span style="color:red" ng-show="orderForm.lastName.$dirty && orderForm.lastName.$invalid">
                        <span ng-show="orderForm.lastName.$error.required"> is required.</span>
                    </span>
                    <input type="text" required
                           class="form-control"
                           placeholder=""
                           ng-model="lastName" name="lastName">
                </div>
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <span style="color:red" ng-show="orderForm.address.$dirty && orderForm.address.$invalid">
                        <span ng-show="orderForm.address.$error.required"> is required.</span>
                    </span>
                    <input type="text" required
                           class="form-control"
                           placeholder=""
                           ng-model="address" name="address">
                    
                    
                    <label class="control-label">Address Number</label>
                    <span style="color:red" ng-show="orderForm.addressNum.$dirty && orderForm.addressNum.$invalid">
                        <span ng-show="orderForm.addressNum.$error.required"> is required.</span>
                    </span>
                    <input type="number" required
                           class="form-control"
                           placeholder=""
                           ng-model="addressNum" name="addressNum">
                    
                    
                    <label class="control-label">Zip Code</label>
                    <span style="color:red" ng-show="orderForm.zipCode.$dirty && orderForm.zipCode.$invalid">
                        <span ng-show="orderForm.zipCode.$error.required"> is required.</span>
                    </span>
                    <input type="number" required
                           class="form-control"
                           placeholder=""
                           ng-model="zipCode" name="zipCode">
                    
                    
                    <label class="control-label">City</label>
                    <span style="color:red" ng-show="orderForm.city.$dirty && orderForm.city.$invalid">
                        <span ng-show="orderForm.city.$error.required"> is required.</span>
                    </span>
                    <input type="text" required
                           class="form-control"
                           placeholder=""
                           ng-model="city" name="city">
                </div>
                
                <div class="form-group has-success has-feedback">
                    <label>Email</label>
                    <span style="color:red" ng-show="orderForm.email.$dirty && orderForm.email.$invalid">
                        <span ng-show="orderForm.email.$error.required"> is required.</span>
                        <span ng-show="orderForm.email.$error.email">Invalid email address.</span>
                    </span>
                    <input type="email" required
                            ng-model="email"
                            class="form-control"
                            placeholder="Enter email" name="email">
                </div>

            </fieldset>

            <hr>
            
            <button class="btn btn-primary btn-block">
                Save Customer and Pay
            </button>
        </form>
    </div>
</div>
